/.idea
/.vs
/.vscode
/.svn
/Binaries
/Build
/DerivedDataCache
/Intermediate
/Saved
/Plugins/InteractionHelper/Binaries
/Plugins/InteractionHelper/Intermediate
/Plugins/InteractionHelper/Save
/Plugins/InteractionHelper/Intermediate
/Plugins/InteractionHelper/.git
/Plugins/InteractionHelper/.gitignore
/Content/ThirdPerson
/Content/ThirdPersonBP
Test
/Plugins/RootMotionSource/Binaries
/Plugins/RootMotionSource/Intermediate
/Plugins/RootMotionSource/Save
/Plugins/RootMotionSource/Intermediate
/Plugins/RootMotionSource/.git
/Plugins/RootMotionSource/.gitignore


/Config/SteamVRBindings
Content/Galaxy
Content/Maps

/Plugins/FastGas/Binaries
/Plugins/FastGas/Intermediate
/Plugins/FastGas/Save
/Plugins/FastGas/Intermediate
/Plugins/FastGas/.git
/Plugins/FastGas/.gitignore
RL.7z